.menu{
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 197, 197);
    font-size: 20px;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
}

body{
    background-color: whitesmoke;
}

.grid img{
    border: 2px solid black;
    border-radius: 50px;
}

.origami{
    border-radius: 20px;
    background-color: white;
    border: 2px solid rgb(129, 129, 129);

    width: 310px;
    font-family: monospace;
}

.grid{ 
    display: flex; 
    flex-wrap: wrap; 
    font-family: sans-serif; 
}